﻿@model Isi2.Projekt.Contracts.Common.PagedListResultContract<Isi2.Projekt.Contracts.CategoryContract>
@{
    ViewBag.Title = "AddCategories";
}

<h2>Wybierz kategorie dla obrazka</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Dodanie kategorii nie powiodło się. Spróbuj ponownie.")
    <div>
        <fieldset>
            <legend>Kategorie</legend>
            @foreach (var item in Model.Items)
            {
                <div>
                    @Html.CheckBox(item.Name)
                </div>
                <div class="editor-label">
                    @Html.Label(item.Name)
                </div>
            }         
            <p>
                <input type="submit" value="Akceptuj" />
            </p>
        </fieldset>
    </div>
}