﻿@model Isi2.Projekt.Web.Models.CategoryModel
@{
    ViewBag.Title = "Create";
}

<h2>Dodaj kategorie</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Dodanie kategorii nie powiodło się. Popraw błędy i spróbuj ponownie.")
    <div>
        <fieldset>
            <legend>Informacje o kategorii</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.CategoryName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.CategoryName)
                @Html.ValidationMessageFor(m => m.CategoryName)
            </div>
            <p>
                <input type="submit" value="Dodaj" />
            </p>
        </fieldset>
    </div>
}
