﻿@using Isi2.Projekt.Contracts
@model Isi2.Projekt.Contracts.UserContract
<div style="width: 300px; height: 200px;">

    <div id="summary" style="display: none;"></div>

    <span>Podaj powód bana dla użytkownika: <b>@Model.Login</b></span>
    <div class="display-field">
        <textarea cols="20" id="Ban_reason" name="banReason" rows="2" style="margin: 0px 0px 10px; width: 279px; height: 113px;">@Model.Ban_reason</textarea>

        <input type="hidden" name="userId" value="@Model.Id" />
    </div>

    <input type="button" id="btn" value="Zapisz" class="btn pull-left btn-inverse" />

</div>

<script type="text/javascript">
    @{ Func<string> GenerateHash = () => Isi2.Projekt.Web.Helpers.AccessGroupSecurityProvider
        .Instance.GenerateHash(((UserContract)Session["currentUser"]).Id);
        
        }
    $(document).ready(function () {
        $('#btn').bind('click', function () {
            $.ajax({
                url: '@Url.Action("Ban", "Administrator", new { h = GenerateHash()})',
                data: { userId: '@Model.Id', banReason: $('#Ban_reason').val() },
                dataType: 'json',
                success: function (result) {
                    if (result.status == 'OK') {
                        $('#summary').css('background-color', 'green');
                    }
                    else {
                        $('#summary').css('background-color', 'red');
                    }

                    $('#summary').css('color', 'white')
                    $('#summary').html(result.message)
                    $('#summary').show('slide');
                },
                
            })
        })
    });

</script>

